:root {
  --bg-clr: #202124;
  --bg-clr-extra: #171717;
  --border-clr: #5f6368;
  --white-clr: #fff;
  --light-clr: lightgray;
  --alt-clr: #303134;
  --link-clr: #508cee;
  --transition-150: all 0.15s;
  --transition-300: all 0.3s;
}
html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: var(--bg-clr);
  color: var(--white-clr);
}
.p-small {
  font-size: 0.8125rem;
}
.p-md {
  font-size: 0.875rem;
}
.p-reg {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
